@model FirstPro.ViewModels.languageViewModel


<html>
<head>

</head>
<body>

    <div>
        <a asp-action="CreateLang">Create</a>

    </div>



    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>

                <th scope="col">Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var lang in @Model.languages)
            {
                <tr>

                    <th scope="row"> @lang.LangId</th>

                    <td>@lang.Name</td>

                    <td class="text-center">
                        <a asp-action="EditLang" asp-route-id="@lang.LangId">Edit</a>
                        <a asp-action="DeleteLang" asp-route-id="@lang.LangId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>