@model FirstPro.ViewModels.PersonDetailsViewModel


@{
    ViewData["Title"] = "Ajax";
   
}

<div class="row p-3">
    <div class="col">
        <div class="row bg-gradient bg-opacity-55 bg-info header-table">

            <div class="col">@Model.PersonId</div>
            <div class="col">@Model.Name</div>
            <div class="col">@Model.PhoneNumber</div>
            <div class="col">@Model.City</div>

        </div>

       @foreach(var person in @Model.personList){
      
      <partial name="~/Views/shared/_PartialPerson.cshtml" model="@person" />
     
}       

    </div>
</div>