@model FirstPro.ViewModels.PersonDetailsViewModel

<html>
    <head>




</head>
<body>
  

<form action="Search" method="post">
      <input type="text" placeholder="Search.." name="name">
      <button type="submit" class="btn btn-success">Search</button>
   
</form>

<form action="Add" method="post">
  <div>
  <input type="text" class=" inputtext " name="Name" value="" placeholder="Name"  style="width:auto">
            <input type="text" class=" inputtext " name="PhoneNumber" value="" placeholder="PhoneNumber" style="width:auto">
   <input type="text" class=" inputtext " name="Country" value="" placeholder="Country"  style="width:auto">
   <input class="btn btn-secondary " id="submit" type="submit" value="Add">   
  </div>
</form>
    
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>

      <th scope="col">Name</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var person in @Model.personList){
    <tr>
         
      <th scope="row"> @person.PersonId</th>
     
      <td>@person.Name</td>
      <td>@person.PhoneNumber</td>
      <td>@person.PersonCity</td>
     

                    <td  class="text-center"><form action="Delete" method="post">
      <button type="button" class="btn btn-danger">Delete</button>
</form></td>
    </tr>
      }
   </tbody>
</table>
 
   
        
    
</body>
</html>