@model FirstPro.ViewModels.PersonDetailsViewModel

<div class="row">

    
    <div class="col">@Model.PersonId</div>
    <div class="col">@Model.Name</div>
    <div class="col">@Model.Gender</div>
     <div class="col">@Model.Country</div>
        <div class="col">@Model.Mobile</div>
</div>

